name: 'Time Task'
 
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *'   # 北京时间每天5点

jobs:
  bot:
    runs-on: windows-latest
    steps:
    # 首先copy git仓库到虚拟机上
      - name: 'Checkout codes'
        uses: actions/checkout@v1
    # 执行仓库中的脚本文件
      - name: 'Qiandao job'
        run: sh QD.sh

